/* --- Estilos generales de la pagina --- */ 

body {
    padding-top: 56px;
    background-color:rgb(223, 223, 223);

}
/* Custom colors: backgrouds and text */ 
.bg-darkblue{
    background-color: #00001e !important;
}

.bg-applegreen {
    background-color: #00ff99 !important;
}

.text-darkblue {
    color: #00001e !important;
}

.text-applegreen {
    color: #00ff99 !important;
}

/* Nav */
nav {
    padding: 20px;
}
nav .navbar-brand, .navbar-brand:visited {
 padding: 2px 14px;
 color: #30ffac
}

nav .navbar-brand:hover {
    color: #00ff99
   }

nav .nav-link, nav .nav-link:visited {
    color: rgb(160, 160, 160);
    padding-left: 14px;
}

nav .nav-item {
    color: #6ffbc3;
}

nav .active .nav-link { 
    color: #ffffff;
}

nav .nav-link:hover {
    color: #6ffbc3;
}

nav .nav-link:active {
    color: #0e6743;     
} 